
@{
    ViewData["Title"] = "Blog";
}

<section class="bg-dark pt-20 pb-120">
    <div class="container">

        <div class="row">
            <div class="col-12" data-aos="flip-down" data-aos-delay="400">
                <div class="fw-bold font-Syne text-center leading-none flex flex-wrap flex-column gap-y-2 mb-10">
                    <span class="text-warning text-xl">Blog</span>
                    <h3 class="section-title text-white">
                        My blog
                        <span class="position-relative circle-shape blog-shape-inner">po</span>st
                    </h3>
                </div>
            </div>
        </div>

        <div class="blog-grid">

            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="600">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog1.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Right-lo-left
                                behind development in mobile web design
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="800">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog2.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Connect
                                craft: Reading
                                the smart experience
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="1000">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog3.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Ecoglow: Sustainable
                                skincare a brighter tomorrow
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="1200">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog4.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Right-lo-left behind
                                development in mobile web design
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="400">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog1.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Right-lo-left
                                behind development in mobile web design
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="600">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog2.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Connect
                                craft: Reading
                                the smart experience
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="800">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog3.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Ecoglow: Sustainable
                                skincare a brighter tomorrow
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="1000">
                <div class="rounded-20 overflow-hidden mb-6">
                    <img class="w-100" src="/assets/images/blog/blog4.png" alt="blog image">
                </div>
                <div class="d-flex flex-wrap flex-column gap-3">
                    <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                        <li class="blog-meta-item">
                            <a href="#">UI Design</a>
                        </li>
                        <li class="blog-meta-item">
                            <a href="#">03 May 2019</a>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                        <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                            <a href="/Home/BlogDetails">
                                Right-lo-left behind
                                development in mobile web design
                            </a>
                        </h4>
                        <a class="animate-arrow-up" href="/Home/BlogDetails">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z" fill="currentColor" fill-opacity="0.9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z" fill="currentColor" fill-opacity="0.9" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog Item End -->

        </div>

    </div>
</section>